<!-- layouts/index.html -->
{{ define "main" }}
<div class="post-list">
    <h2>{{ now.Format "2006" }}</h2>
    {{ $pages := where .Site.RegularPages "Type" "in" (slice "posts" "post") }}
    {{ range $pages.GroupByDate "2006" }}
        {{ if ne .Key (now.Format "2006") }}
            <h2>{{ .Key }}</h2>
        {{ end }}
        {{ range .Pages }}
            <div class="post-item">
                <div class="post-title">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </div>
                <div class="post-date">
                    {{ .Date.Format "January 2" }}
                </div>
            </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}